







<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Signup | TinyMetrics</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body class="blank">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Sign Up</h1><p>You're one step away to know more about your Instagram account</p><img src="images/loading-bars.svg" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>
<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel ">
                <div class="panel-body panel-with-padding">
                       
                    <div class="row">   
                        <div>

                          <p> <strong> The Gist</strong>
TinyMetrics will collect certain non-personally identifiable information about you as you use our sites. We may use this data to better understand our users. We can also publish this data, but the data will be about a large group of users, not individuals. We may also collect certain personal information about you and your use of the Service (as defined herein) which may be published and used in the aggregate as set forth in this Privacy Policy.
We will also ask you to provide personal information, but you'll always be able to opt out. If you give us personal information, we won't do anything evil with it.
We can also use cookies, but you can choose not to store these.
That's the basic idea, but you must read through the entire Privacy Policy below and agree with all the details before you use any of our sites.
<strong>Reuse
</strong>
This document is based upon the Automattic Privacy Policy and is licensed under Creative Commons Attribution Share-Alike License 2.5. Basically, this means you can use it verbatim or edited, but you must release new versions under the same license and you have to credit Automattic somewhere (like this!). Automattic is not connected with and does not sponsor or endorse TinyMetrics or its use of the work.
TinyMetrics makes available services include our web sites (http://TinyMetrics.in (the "Site")), our blog, our API, and any other software, sites, and services offered by TinyMetrics in connection to any of those (taken together, the "Service"). It is TinyMetrics's policy to respect your privacy regarding any information we may collect while operating our Site.
<strong>Questions</strong>
If you have question about this Privacy Policy, please contact us at support@TinyMetrics.in
Visitors
Like most website operators, TinyMetrics collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. TinyMetrics's purpose in collecting non-personally identifying information is to better understand how TinyMetrics's visitors use its website. From time to time, TinyMetrics may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
TinyMetrics also collects potentially personally-identifying information like Internet Protocol (IP) addresses. TinyMetrics does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below. We may also collect and use IP addresses to block users who violated our Terms of Service.
Gathering of Personally-Identifying Information
Certain visitors to TinyMetrics's websites choose to interact with TinyMetrics in ways that require TinyMetrics to gather personally-identifying information. The amount and type of information that TinyMetrics gathers depends on the nature of the interaction. TinyMetrics collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with TinyMetrics. TinyMetrics does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain Service-related activities.
Additionally, some interactions, such as posting a comment, may ask for optional personal information. For instance, when posting a comment, may provide a website that will be displayed along with a user's name when the comment is displayed. Supplying such personal information is completely optional and is only displayed for the benefit and the convenience of the user.
Aggregated Statistics and Third Party Analytics Providers
TinyMetrics may collect statistics about the behavior of visitors to and users of the Service. For instance, TinyMetrics may monitor the most popular parts of the TinyMetrics Site. TinyMetrics may display this information in the aggregate publicly or provide it to others.
In addition, TinyMetrics may, from time to time, collect certain personal information from you, your use of the Services, and/or the users of your website, such as your user churn rate, your financial data and revenue, your conversation rates and other metrics (your “Data”). TinyMetrics may publish and display your Data in the aggregate to the public through our Site or on our blog, e.g. by publishing a report on average churn rates on the Site. However, all Data is only used and published in the aggregate which means that any published Data will not identify you, your website, your company or your users, or link you to the published information in any way. If you wish to opt out of the publication of your Data, please contact us as hello@TinyMetrics.in.
TinyMetrics may also use third party analytics providers and products, such as Amazon (collectively, “Third Party Providers”), to obtain, compile and analyze information (that may include personally-identifying information) about how users are using and interacting with TinyMetrics and/or the Services. Such information is compiled in the aggregate and anonymized (i.e. the aggregated data will not personally identify users in any way) and provided to Third Party Providers for analytics purposes only (e.g. obtaining statistics and other information about how users are using and interacting with TinyMetrics). These Third Party Providers may use a variety of established or new technologies or tools (including, without limitation, cookies, web beacons, HTTP cache, local shared objects and persistent identifiers) to recognize your computer or device and/or to collect or compile this information. You understand and acknowledge that TinyMetrics has no control over the technologies, tools or practices of the Third Party Providers providing analytics products and services to TinyMetrics.
TinyMetrics does not disclose personally-identifying information other than as described below.
Protection of Certain Personally-Identifying Information
TinyMetrics discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on TinyMetrics' behalf or to provide services available at TinyMetrics' Site websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using the Service, you consent to the transfer of such information to them. TinyMetrics will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, TinyMetrics discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when TinyMetrics believes in good faith that disclosure is reasonably necessary to protect the property or rights of TinyMetrics, third parties or the public at large. If you are a registered user of the Service and have supplied your email address, TinyMetrics may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with TinyMetrics and our products. We primarily use our website and blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. TinyMetrics takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
Cookies
A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the Service each time the visitor returns. TinyMetrics uses cookies to help TinyMetrics identify and track visitors, their usage of TinyMetrics Service, and their Service access preferences. TinyMetrics visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using TinyMetrics's websites, with the drawback that certain features of TinyMetrics's websites may not function properly without the aid of cookies.
Business Transfers
If TinyMetrics, or substantially all of its assets, were acquired, or in the unlikely event that Baremetrids goes out of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of TinyMetrics may continue to use your personal information as set forth in this policy.
Data Storage
TinyMetrics uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service. You understand that although you retain full rights to your data, it may be stored on third party storage and transmitted through third party networks.
Privacy Policy Changes
Although most changes are likely to be minor, TinyMetrics may change its Privacy Policy from time to time, and in TinyMetrics's sole discretion. TinyMetrics encourages visitors to frequently check this page for any changes to its Privacy Policy.
</p>
                        </div>   
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong></strong><br/>
        </div>
    </div>
</div>

<!-- Vendor scripts -->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="vendor/iCheck/icheck.min.js"></script>
<script src="vendor/sparkline/index.js"></script>

<!-- App scripts -->
<script src="javascripts/homer.js"></script>

</body>
</html>